[
    {
        "title": "Graph-1",
        "url": "https://graph-1-url"
    },
    {
        "title": "Graph-2",
        "url": "https://graph-2-url"
    },
    {
        "title": "Graph-3",
        "url": "https://graph-3-url"
    },
    {
        "title": "Graph-4",
        "url": "https://graph-4-url"
    },
    {
        "title": "Graph-5",
        "url": "https://graph-5-url"
    },
    {
        "title": "Graph-6",
        "url": "https://graph-6-url"
    }
]